@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
}

#menuAccent {
    -fx-background-color: #002f6c;
}

#menuBlackAccent {
    -fx-background-color: black;
}

#menuBar {
    -fx-background-color: #01579b;
}

#navBar {
    -fx-background-color: #4f83cc;
}

#footerBar {
    -fx-background-color: #4f83cc;
}

#imageViewPanel {
    -fx-background-color: #000000;
}

#bedrijfsnaamBox {
    -fx-background-color: #01579b;
}

#bedrijfsnaam {
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
    -fx-font-size: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#profilePictureBox {
    -fx-background-radius: 180%;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 180%;
    -fx-border-color: white;
}

#dashboardBox {
    -fx-background-color: #01579b;
    -fx-border-width: 2px;
    -fx-border-color: #002f6c;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

}

#dashboardTitleBox {
    -fx-background-color: #002f6c;
}

#dashboardBigTitle {
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.list-view {
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.list-cell:filled {
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-text-fill: black;
}

.list-cell:even {
    -fx-background-color: #01579b;
}

.list-cell:odd {
    -fx-background-color: #015790;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0%;
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.button:pressed {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
}

#navBar .button {
    -fx-background-color: none;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0%;
    -fx-font-family: "Roboto";
    -fx-font-size: 24px;
}

#navBar .button:hover {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

#navBar .button:pressed {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;
}